@import '../../../assets/styles/mixins';

.works {
  min-height: 100vh;
  padding: 80px 0;
  color: var(--color-text);
  @include flex(row, center, center, wrap);

  .title {
    font-size: 3.125rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .list {
    @include flex(row, stretch, center, wrap);
    margin: 0 -20px;
    row-gap: 25px;
  }
}
