@import '../../../styles/mixins';

.intro {
  background-color: #ffd4f0;
  height: calc(100vh - 80px);

  .container {
    @include flex(row, center, space-between, wrap);
    height: 100%;
    @media (max-width: 875px) {
      justify-content: center;
    }
  }

  h1 {
    font-size: 3.125rem;
  }

  .photo {
    flex: 0 1 320px;
    height: 400px;
    background-color: rgba(250, 144, 198, 0.68);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

