@import '../../../styles/mixins';

.skills {
  min-height: 100vh;
  padding: 80px 0;
  background: #373179;
  color: #ffffff;
  @include flex(row, center, center, wrap);

  .list {
    @include flex(row, flex-start, flex-start, wrap);
    row-gap: 30px;
    margin: 0 -15px;
  }

  .title {
    font-size: 3.125rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}