@import '../../../assets/styles/mixins';

.contact {
  padding: 80px 0;
  min-height: 70vh;
  color: var(--color-text);

  .container {
    @include flex(column, center, center, wrap);
  }


  .forms {
    width: 100%;
    @include flex(row, center, space-between, wrap);
    @media screen and (max-width: 767.98px) {
      row-gap: 26px;
    }

    .list {
      @include flex(column);
      row-gap: 20px;
      @media screen and (max-width: 767.98px) {
        align-items: center;
        flex: 1 1 100%;
      }

      li {
        a {
          display: inline-block;
          @include adaptive-font(24px, 16px);

          span {
            margin-left: 12px;
          }
        }
      }
    }

    .form {
      @include flex(column);
      row-gap: 30px;
      flex: 0 1 50%;
      min-width: 290px;
      padding: 0 0 0 15px;

      @media screen and (max-width: 767.98px) {
        flex: 1 1 100%;
        padding: 0;
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      .field {
        letter-spacing: 0.00938em;
        color: var(--color-text);
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding: 12px 12px;
        background-color: var(--bg-main-second);
        outline: 1px solid var(--color-text);
        transition: none;

        &::placeholder {
          color: var(--color-text);
        }

        &:focus {
          outline: 2px solid var(--color-text);
        }
      }

      .textarea {
        resize: vertical;
        max-height: 180px;
      }

    }
  }

  button {
    align-self: center;
  }

}