@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.skill {
  min-width: 320px;
  flex: 1 1 25%;
  padding: 0 15px;
  color: var(--color-text);

  .inner {
    @include flex(column, center);
    row-gap: 30px;
    text-align: center;

    .title {
      font-weight: $fw600;
      font-size: 1.5rem;
    }
  }

  .square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #2b2b2b;
    @include flex(row, center, center);

    svg {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &:nth-last-of-type(1) {
    svg path {
      fill: #66bb6a;
    }
  }
}
