.remote {
  padding: 100px 0;
  background: #fff900;
  text-align: center;
  .title {
    font-size: 2rem;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .button {
    min-height: 30px;
    width: 150px;
    padding: 10px;
    background: #373179;
    color: white;
    border-radius: 10px;
  }

}