@import '../../../assets/styles/mixins';

.contact {
  padding: 80px 0;
  min-height: 70vh;
  color: var(--color-text);

  .container {
    @include flex(column, center, center, wrap);
  }


  .forms {
    width: 100%;
    @include flex(row, center, space-between, wrap);
    @media screen and (max-width: 767.98px) {
      row-gap: 26px;
    }

    .list {
      @include flex(column);
      row-gap: 25px;
      @media screen and (max-width: 767.98px) {
        align-items: center;
        flex: 1 1 100%;
      }

      li {
        a {
          display: inline-flex;
          align-items: center;
          font-weight: 500;

          span {
            margin-left: 12px;
            @include adaptive-font(20, 16);
          }
        }
      }
    }

  }

  button {
    align-self: center;
  }

}