@import '../../../../assets/styles/mixins';

.skill {
  min-width: 320px;
  flex: 1 1 33.333%;
  padding: 0 15px;

  .inner {
    @include flex(column, center);
    row-gap: 30px;
    text-align: center;
  }

  .square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transform: rotate(45deg);
    background-color: black;
    @include flex(row, center, center);

    svg {
      transform: rotate(-45deg);
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 10px;
    }

  }

}