@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.item {
  flex: 1 1 33.333%;
  padding: 0 20px;
  min-width: 320px;
  overflow: hidden;
  color: var(--color-text);
  min-height: 385px;

  .top {
    position: relative;
    filter: grayscale(1);

    .image-wrapper {
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .link {
        @include position(absolute, -100%, 0, 0, 0);
        @include flex(column, center, center);
        height: 100%;
        width: 100%;
        background: rgba(7, 7, 7, 0.3);
        transition: all .3s ease;
        font-size: 20px;

        a {
          color: #F3F6F9;

          svg {
            stroke: #F3F6F9;

            rect {
              stroke: #F3F6F9;
            }
          }
        }
      }

      &:hover .link {
        top: 0;
      }
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  .bottom {
    padding: 15px;

    .title {
      font-size: 1.5rem;
      font-weight: $fw600;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}