* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: color, background-color .3s ease;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

body[data-theme='dark'] {
  --bg-header: #2b2b2b;
  --bg-main-first: #1f1f20;
  --bg-main-second: #262626;
  --color-text: #F3F6F9;
}

body[data-theme='light'] {
  --bg-header: #ffffff;
  --bg-main-first: #fafafa;
  --bg-main-second: #f5f5f5;
  --color-text: #00000099;
}

::-moz-selection {
  background-color: rgb(118, 74, 188);
  color: var(--color-text);
}

::selection {
  background-color: rgb(118, 74, 188);
  color: var(--color-text);
}

section {
  & > .container {
    position: relative;
  }

  &:nth-child(2n) {
    background-color: var(--bg-main-second);
  }

  &:nth-child(2n + 1) {
    background-color: var(--bg-main-first);
  }
}

footer {
  background-color: var(--bg-header);
}