@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.nav {
  .list {
    @include flex(row, center);
    column-gap: 1.5rem;

    .item {
      .link {
        display: inline-block;
        position: relative;
        font-weight: $fw600;
        font-size: 22px;
        color: var(--color-text);
        text-decoration: none;
        transition: all 0.2s ease;

        &:after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 0;
          height: 2px;
          border-right: 5px;
          background-color: var(--color-text);;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

}
